Package: com.ccdog.pinyinui
Name: PinyinUI
Depends: firmware (>= 5.0), mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Convert all Chinese on UI to Pinyin.
Author: CC-Dog <cc941201@gmail.com>
Section: Tweaks
