Package: com.ccdog.romajiui
Name: RomajiUI
Depends: firmware (>= 5.0), mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Convert all Japanese on UI to Romaji.
Author: CC-Dog <cc941201@gmail.com>
Section: Tweaks
